@{
  Layout = "Shared/_Layout.cshtml";
}

<h1>@Model["band"].GetBandName()</h1>

<h3>Here are the venues that @Model["band"].GetBandName() have played at!</h3>

@foreach (var venue in @Model["venues"])
{
    <h3><a href="/venues/@venue.GetVenueId()/@venue.GetVenueName()">@venue.GetVenueName()</a></h3>
}
