@{
  Layout = "Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete the band <strong>@Model.GetBandName()</strong>?</h2>
<div class="row">
    <form action="/band/@Model.GetBandId()/@Model.GetBandName()/deleted" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger" type="submit" name="button">Delete</button>
    </form>
</div>
