@{
  Layout = "Shared/_Layout.cshtml";
}

<h1>Update @Model.GetVenueName():</h1>

<div class="row">
    <form class="" action="/venues/@Model.GetVenueId()/updated" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <input name="venue" type="hidden" value="@Model.GetVenueId()">
        <label for="edit-venue">Edit name</label>
        <input id="edit-venue" name="edit-venue" type="text" placeholder="Edit name">
        <button class="btn" type="submit" name="button">Edit</button>
    </form>

</div>
